// Copyright (c) 2019, The Emergent Authors. All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

package etensor

import (
	"errors"
	"strconv"
	"log"
	"math"

	"github.com/apache/arrow/go/arrow"
	"github.com/apache/arrow/go/arrow/array"
	"github.com/apache/arrow/go/arrow/memory"
	"github.com/apache/arrow/go/arrow/tensor"
	"github.com/emer/etable/bitslice"
	"github.com/goki/ki/ints"
	"github.com/goki/ki/kit"
	"gonum.org/v1/gonum/mat"
)

{{range .In}}

// {{.Name}} is an n-dim array of {{.Type}}s.
type {{.Name}} struct {
	Shape
	Values []{{.Type}}
	Nulls  bitslice.Slice
	Meta   map[string]string
}

// New{{.Name}} returns a new n-dimensional array of {{.Type}}s.
// If strides is nil, row-major strides will be inferred.
// If names is nil, a slice of empty strings will be created.
// Nulls are initialized to nil.
func New{{.Name}}(shape, strides []int, names []string) *{{.Name}} {
	tsr := &{{.Name}}{}
	tsr.SetShape(shape, strides, names)
	tsr.Values = make([]{{or .Type}}, tsr.Len())
	return tsr
}

// New{{.Name}}Shape returns a new n-dimensional array of {{.Type}}s.
// Using shape structure instead of separate slices, and optionally
// existing values if vals != nil (must be of proper length) -- we
// directly set our internal Values = vals, thereby sharing the same
// underlying data. Nulls are initialized to nil.
func New{{.Name}}Shape(shape *Shape, vals []{{or .Type}}) *{{.Name}} {
	tsr := &{{.Name}}{}
	tsr.CopyShape(shape)
	if vals != nil {
		if len(vals) != tsr.Len() {
			log.Printf("etensor.New*Shape: length of provided vals: %d not proper length: %d", len(vals), tsr.Len())
			tsr.Values = make([]{{or .Type}}, tsr.Len())
		} else {
			tsr.Values = vals
		}
	} else {
		tsr.Values = make([]{{or .Type}}, tsr.Len())
	}
	return tsr
}

func (tsr *{{.Name}}) ShapeObj() *Shape { return &tsr.Shape }
func (tsr *{{.Name}}) DataType() Type { return {{.DataType}} }
func (tsr *{{.Name}}) Value(i []int)  {{or .Type}} { j := tsr.Offset(i); return tsr.Values[j] }
func (tsr *{{.Name}}) Value1D(i int)  {{or .Type}} { return tsr.Values[i] }
func (tsr *{{.Name}}) Set(i []int, val {{or .Type}})  { j := tsr.Offset(i); tsr.Values[j] = val }

// IsNull returns true if the given index has been flagged as a Null
// (undefined, not present) value
func (tsr *{{.Name}}) IsNull(i []int) bool {
	if tsr.Nulls == nil {
		return false
	}
	j := tsr.Offset(i)
	return tsr.Nulls.Index(j)
}

// IsNull1D returns true if the given 1-dimensional index has been flagged as a Null
// (undefined, not present) value
func (tsr *{{.Name}}) IsNull1D(i int) bool {
	if tsr.Nulls == nil {
		return false
	}
	return tsr.Nulls.Index(i)
}

// SetNull sets whether given index has a null value or not.
// All values are assumed valid (non-Null) until marked otherwise, and calling
// this method creates a Null bitslice map if one has not already been set yet.
func (tsr *{{.Name}}) SetNull(i []int, nul bool) {
	if tsr.Nulls == nil {
		tsr.Nulls = bitslice.Make(tsr.Len(), 0)
	}
	j := tsr.Offset(i)
	tsr.Nulls.Set(j, nul)
}

// SetNull1D sets whether given 1-dimensional index has a null value or not.
// All values are assumed valid (non-Null) until marked otherwise, and calling
// this method creates a Null bitslice map if one has not already been set yet.
func (tsr *{{.Name}}) SetNull1D(i int, nul bool) {
	if tsr.Nulls == nil {
		tsr.Nulls = bitslice.Make(tsr.Len(), 0)
	}
	tsr.Nulls.Set(i, nul)
}

func (tsr *{{.Name}}) FloatVal(i []int) float64 { j := tsr.Offset(i); return float64(tsr.Values[j]) }
func (tsr *{{.Name}}) SetFloat(i []int, val float64)  { j := tsr.Offset(i); tsr.Values[j] = {{or .Type}}(val) }

func (tsr *{{.Name}}) StringVal(i []int) string { j := tsr.Offset(i); return kit.ToString(tsr.Values[j]) }
func (tsr *{{.Name}}) SetString(i []int, val string) {
	if fv, err := strconv.ParseFloat(val, 64); err == nil {
		j := tsr.Offset(i);
		tsr.Values[j] = {{or .Type}}(fv)
	}
}

func (tsr *{{.Name}}) FloatVal1D(off int) float64 { return float64(tsr.Values[off]) }
func (tsr *{{.Name}}) SetFloat1D(off int, val float64)  { tsr.Values[off] = {{or .Type}}(val) }

// Floats sets []float64 slice of all elements in the tensor
// (length is ensured to be sufficient).
// This can be used for all of the gonum/floats methods
// for basic math, gonum/stats, etc.
func (tsr *{{.Name}}) Floats(flt *[]float64) {
	sz := len(tsr.Values)
	if len(*flt) < sz {
		if cap(*flt) >= sz {
			*flt = (*flt)[0:sz]
		} else {
			*flt = make([]float64, sz)
		}
	}
	for j, vl := range tsr.Values {
		(*flt)[j] = float64(vl)
	}
}

// SetFloats sets tensor values from a []float64 slice (copies values).
func (tsr *{{.Name}}) SetFloats(vals []float64) {
	sz := ints.MinInt(len(tsr.Values), len(vals))
	for j := 0; j < sz; j++ {
		tsr.Values[j] = {{or .Type}}(vals[j])
	}
}

func (tsr *{{.Name}}) StringVal1D(off int) string { return kit.ToString(tsr.Values[off]) }
func (tsr *{{.Name}}) SetString1D(off int, val string) {
	if fv, err := strconv.ParseFloat(val, 64); err == nil {
		tsr.Values[off] = {{or .Type}}(fv)
	}
}

// Range returns the min, max (and associated indexes, -1 = no values) for the tensor.
// This is needed for display and is thus in the core api in optimized form
// Other math operations can be done using gonum/floats package.
func (tsr *{{.Name}}) 	Range() (min, max float64, minIdx, maxIdx int) {
	minIdx = -1
	maxIdx = -1
	for j, vl := range tsr.Values {
		fv := float64(vl)
		if math.IsNaN(fv) {
			continue
		}
		if fv < min || minIdx < 0 {
			min = fv
			minIdx = j
		}
		if fv > max || maxIdx < 0 {
			max = fv
			maxIdx = j
		}
	}
	return
}

// Agg applies given aggregation function to each element in the tensor
// (automatically skips IsNull and NaN elements), using float64 conversions of the values.
// init is the initial value for the agg variable. returns final aggregate value
func (tsr *{{.Name}}) 	Agg(ini float64, fun AggFunc) float64 {
	ag := ini
	for j, vl := range tsr.Values {
		val := float64(vl)
		if !tsr.IsNull1D(j) && !math.IsNaN(val) {
			ag = fun(j, val, ag)
		}
	}
	return ag
}


// Eval applies given function to each element in the tensor (automatically
// skips IsNull and NaN elements), using float64 conversions of the values.
// Puts the results into given float64 slice, which is ensured to be of the proper length.
func (tsr *{{.Name}}) Eval(res *[]float64, fun EvalFunc) {
	ln := tsr.Len()
	if len(*res) != ln {
		*res = make([]float64, ln)
	}
	for j, vl := range tsr.Values {
		val := float64(vl)
		if !tsr.IsNull1D(j) && !math.IsNaN(val) {
			(*res)[j] = fun(j, val)
		}
	}
}

// SetFunc applies given function to each element in the tensor (automatically
// skips IsNull and NaN elements), using float64 conversions of the values.
// Writes the results back into the same tensor elements.
func (tsr *{{.Name}}) 	SetFunc(fun EvalFunc) {
	for j, vl := range tsr.Values {
		val := float64(vl)
		if !tsr.IsNull1D(j) && !math.IsNaN(val) {
			tsr.Values[j] = {{or .Type}}(fun(j, val))
		}
	}
}

// SetZeros is simple convenience function initialize all values to 0
func (tsr *{{.Name}}) 	SetZeros() {
	for j := range tsr.Values {
		tsr.Values[j] = 0
	}
}

// Clone clones this tensor, creating a duplicate copy of itself with its
// own separate memory representation of all the values, and returns
// that as a Tensor (which can be converted into the known type as needed).
func (tsr *{{.Name}}) Clone() Tensor {
	csr := New{{.Name}}Shape(&tsr.Shape, nil)
	copy(csr.Values, tsr.Values)
	if tsr.Nulls != nil {
		csr.Nulls = tsr.Nulls.Clone()
	}
	return csr
}

// CopyFrom copies all avail values from other tensor into this tensor, with an
// optimized implementation if the other tensor is of the same type, and
// otherwise it goes through appropriate standard type.
// Copies Null state as well if present.
func (tsr *{{.Name}}) CopyFrom(frm Tensor) {
	if fsm, ok := frm.(*{{.Name}}); ok {
		copy(tsr.Values, fsm.Values)
		if fsm.Nulls != nil {
			if tsr.Nulls == nil {
				tsr.Nulls = bitslice.Make(tsr.Len(), 0)
			}
			copy(tsr.Nulls, fsm.Nulls)
		}
		return
	}
	sz := ints.MinInt(len(tsr.Values), frm.Len())
	for i := 0; i< sz; i++ {
		tsr.Values[i] = {{or .Type}}(frm.FloatVal1D(i))
		if frm.IsNull1D(i) {
			tsr.SetNull1D(i, true)
		}
	}
}

// CopyCellsFrom copies given range of values from other tensor into this tensor,
// using flat 1D indexes: to = starting index in this Tensor to start copying into,
// start = starting index on from Tensor to start copying from, and n = number of
// values to copy.  Uses an optimized implementation if the other tensor is
// of the same type, and otherwise it goes through appropriate standard type.
func (tsr *{{.Name}}) CopyCellsFrom(frm Tensor, to, start, n int) {
	if fsm, ok := frm.(*{{.Name}}); ok {
		for i := 0; i < n; i++ {
			tsr.Values[to+i] = fsm.Values[start+i]
			if fsm.IsNull1D(start+i) {
				tsr.SetNull1D(to+i, true)
			}
		}
		return
	}
	for i := 0; i < n; i++ {
		tsr.Values[to+i] = {{or .Type}}(frm.FloatVal1D(start+i))
		if frm.IsNull1D(start+i) {
			tsr.SetNull1D(to+i, true)
		}
	}
}

// SetShape sets the shape params, resizing backing storage appropriately
func (tsr *{{.Name}}) SetShape(shape, strides []int, names []string) {
	tsr.Shape.SetShape(shape, strides, names)
	nln := tsr.Len()
	if cap(tsr.Values) >= nln {
		tsr.Values = tsr.Values[0:nln]
	} else {
		nv := make([]{{or .Type}}, nln)
		copy(nv, tsr.Values)
		tsr.Values = nv
	}
}

// AddRows adds n rows (outer-most dimension) to RowMajor organized tensor.
func (tsr *{{.Name}}) AddRows(n int) {
	if !tsr.IsRowMajor() {
		return
	}
	rows, cells := tsr.RowCellSize()
	nln := (rows + n) * cells
	tsr.Shape.Shp[0] += n
	if cap(tsr.Values) >= nln {
		tsr.Values = tsr.Values[0:nln]
	} else {
		nv := make([]{{or .Type}}, nln)
		copy(nv, tsr.Values)
		tsr.Values = nv
	}
}

// SetNumRows sets the number of rows (outer-most dimension) in a RowMajor organized tensor.
func (tsr *{{.Name}}) SetNumRows(rows int) {
	if !tsr.IsRowMajor() {
		return
	}
	rows = ints.MaxInt(1, rows) // must be > 0
	_, cells := tsr.RowCellSize()
	nln := rows * cells
	tsr.Shape.Shp[0] = rows
	if cap(tsr.Values) >= nln {
		tsr.Values = tsr.Values[0:nln]
	} else {
		nv := make([]{{or .Type}}, nln)
		copy(nv, tsr.Values)
		tsr.Values = nv
	}
}

// SubSpace returns a new tensor as a subspace of the current one, incorporating the
// given number of dimensions (0 < subdim < NumDims of this tensor). Only valid for
// row or column major layouts.
// * subdim are the inner, contiguous dimensions (i.e., the last in RowMajor
//   and the first in ColMajor).
// * offs are offsets for the outer dimensions (len = NDims - subdim)
//   for the subspace to return.
// The new tensor points to the values of the this tensor (i.e., modifications
// will affect both), as its Values slice is a view onto the original (which
// is why only inner-most contiguous supsaces are supported).
// Use Clone() method to separate the two.
func (tsr *{{.Name}}) SubSpace(subdim int, offs []int) Tensor {
	ss, _ := tsr.SubSpaceTry(subdim, offs)
	return ss
}

// SubSpaceTry is SubSpace but returns an error message if the subdim and offs
// do not match the tensor Shape.
func (tsr *{{.Name}}) SubSpaceTry(subdim int, offs []int) (Tensor, error) {
	nd := tsr.NumDims()
	od := nd - subdim
	if od <= 0 {
		return nil, errors.New("SubSpace number of sub dimensions was >= NumDims -- must be less")
	}
	if tsr.IsRowMajor() {
		stsr := &{{.Name}}{}
		stsr.SetShape(tsr.Shp[od:], nil, tsr.Nms[od:]) // row major def
		sti := make([]int, nd)
		copy(sti, offs)
		stoff := tsr.Offset(sti)
		sln := stsr.Len()
		stsr.Values = tsr.Values[stoff:stoff+sln]
		return stsr, nil
	} else if tsr.IsColMajor() {
		stsr := &{{.Name}}{}
		stsr.SetShape(tsr.Shp[:subdim], nil, tsr.Nms[:subdim])
		stsr.Strd = ColMajorStrides(stsr.Shp)
		sti := make([]int, nd)
		for i := subdim; i < nd; i++ {
			sti[i] = offs[i-subdim]
		}
		stoff := tsr.Offset(sti)
		sln := stsr.Len()
		stsr.Values = tsr.Values[stoff:stoff+sln]
		return stsr, nil
	}
	return nil, errors.New("SubSpace only valid for RowMajor or ColMajor tensors")
}

// Label satisfies the gi.Labeler interface for a summary description of the tensor
func (tsr *{{.Name}}) Label() string {
	return fmt.Sprintf("{{.Name}}: %s", tsr.Shape.String())
}
	
// String satisfies the fmt.Stringer interface for string of tensor data
func (tsr *{{.Name}}) String() string {
	str := tsr.Label()
	sz := len(tsr.Values)
	if sz > 1000 {
		return str
	}
	for i := 0; i < sz; i++ {
		idx := tsr.Index(i)
		for j := 1; j < len(idx); j++ {
			if idx[j] == 0 {
				str += "\n["
				for k := 0; k < len(idx); k++ {
					str += fmt.Sprintf("%d", idx[k])
					if k < len(idx)-1 {
						str += ","
					}
				}
				str += "]: "
				break
			}
		}
		str += tsr.StringVal1D(i) + " "
	}
	str += "\n"
	return str
}
	
// ToArrow returns the apache arrow equivalent of the tensor
func (tsr *{{.Name}}) ToArrow() *tensor.{{.Name}} {
	bld := array.New{{.Name}}Builder(memory.DefaultAllocator)
	if tsr.Nulls != nil {
		bld.AppendValues(tsr.Values, tsr.Nulls.ToBools())
	} else {
		bld.AppendValues(tsr.Values, nil)
	}
	vec := bld.New{{.Name}}Array()
	return tensor.New{{.Name}}(vec.Data(), tsr.Shape64(), tsr.Strides64(), tsr.DimNames())
}

// FromArrow intializes this tensor from an arrow tensor of same type
// cpy = true means make a copy of the arrow data, otherwise it directly
// refers to its values slice -- we do not Retain() on that data so it is up
// to the go GC and / or your own memory management policies to ensure the data
// remains intact!
func (tsr *{{.Name}}) FromArrow(arw *tensor.{{.Name}}, cpy bool) {
	nms := make([]string, arw.NumDims()) // note: would be nice if it exposed DimNames()
	for i := range nms {
		nms[i] = arw.DimName(i)
	}
	tsr.SetShape64(arw.Shape(), arw.Strides(), nms)
	if cpy {
		vls := arw.{{.Name}}Values()
		tsr.Values = make([]{{or .Type}}, tsr.Len())
		copy(tsr.Values, vls)
	} else {
		tsr.Values = arw.{{.Name}}Values()
	}
	// note: doesn't look like the Data() exposes the nulls themselves so it is not
	// clear we can copy the null values -- nor does it seem that the tensor class
	// exposes it either!  https://github.com/apache/arrow/issues/3496
	// nln := arw.Data().NullN()
	// if nln > 0 {
	// }
}

// Dims is the gonum/mat.Matrix interface method for returning the dimensionality of the
// 2D Matrix.  Assumes Row-major ordering and logs an error if NumDims < 2.
func (tsr *{{.Name}}) Dims() (r, c int) {
	nd := tsr.NumDims()
	if nd < 2 {
		log.Println("etensor Dims gonum Matrix call made on Tensor with dims < 2")
		return 0, 0
	}
	return tsr.Dim(nd-2), tsr.Dim(nd-1)
}

// At(i, j) is the gonum/mat.Matrix interface method for returning 2D matrix element at given
// row, column index.  Assumes Row-major ordering and logs an error if NumDims < 2.
func (tsr *{{.Name}}) At(i, j int) float64 {
	nd := tsr.NumDims()
	if nd < 2 {
		log.Println("etensor Dims gonum Matrix call made on Tensor with dims < 2")
		return 0
	} else if nd == 2 {
		return tsr.FloatVal([]int{i, j})
	} else {
		ix := make([]int, nd)
		ix[nd-2] = i
		ix[nd-1] = j
		return tsr.FloatVal(ix)
	}
}

// T is the gonum/mat.Matrix transpose method.
// It performs an implicit transpose by returning the receiver inside a Transpose.
func (tsr *{{.Name}}) T() mat.Matrix {
	return mat.Transpose{tsr}
}

// SetMetaData sets a key=value meta data (stored as a map[string]string).
// For TensorGrid display: top-zero=+/-, odd-row=+/-, image=+/-,
// min, max set fixed min / max values, background=color
func (tsr *{{.Name}}) SetMetaData(key, val string) {
	if tsr.Meta == nil {
		tsr.Meta = make(map[string]string)
	}
	tsr.Meta[key] = val
}

// MetaData retrieves value of given key, bool = false if not set
func (tsr *{{.Name}}) MetaData(key string) (string, bool) {
	if tsr.Meta == nil {
		return "", false
	}
	val, ok := tsr.Meta[key]
	return val, ok
}

{{- end}}

// New returns a new Tensor of given type, using our Type specifier which is
// isomorphic with arrow.Type
func New(dtype Type, shape, strides []int, names []string) Tensor {
	aty := arrow.Type(dtype)
	switch aty {
{{- range .In}}
	case arrow.{{.DataType}}:
		return New{{.Name}}(shape, strides, names)
{{- end}}
	case arrow.STRING:
		return NewString(shape, strides, names)
	case arrow.BOOL:
		return NewBits(shape, strides, names)
	}
	return nil
}

